<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haku Sports JukeBox</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <h1 class="project__title">Haku Sports JukeBox</h1>

    <section class="albums__visual">
        <% for (let i = 0; i < allAlbums.length; i++) { %>
        <div class="albums__individual albums__individual-<%= i + 1 %>" 
            data-songs="<%= allSongLists[i] %>" data-albumID="<%= allAlbums[i].id %>">
            <img src="<%= allAlbums[i].cover_photo_url%>" alt="<%= allAlbums[i].name %>">
            <p class="album__name"><%= allAlbums[i].name %></p>
            <p class="artist__name"><%= allAlbums[i].artist_name %></p>
        </div>
        <% } %>
    </section>
    
    <section class="lower-body__container">
        <div class="album__selected--songlist">
            <ul>
                <% const mainAlbumIndex = 3; %>
                <% const mainSongList = JSON.parse(allSongLists[mainAlbumIndex]); %>
                <% mainSongList.sort((element1, element2) => element1.song_order - element2.song_order); %>
                <% for (nextSong of mainSongList) { %>
                <li class="songlist__individual">
                    <div>
                        <div class="album__track--number">
                            <span><%= nextSong.song_order %></span>
                        </div>
                        <img class="song__favorite--select" src="/img/favorite-star.svg" alt="Favorites">
                        <p class="song__favorite--popup">MARK AS FAVORITE</p>
                        <p class="album__song--name"><%= nextSong.song_name.toUpperCase() %></p>
                        <% if (nextSong.song_label.length > 0) { %>
                        <div class="album__song--categories">
                            <% if (nextSong.song_label.includes('explicit')) { %>
                            <span>EXPLICIT</span>
                            <% } %>
                            <% if (nextSong.song_label.includes('upbeat')) { %>
                            <span>UPBEAT</span>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <p class="album__song--time"><%= nextSong.song_duration %></p>
                </li>
                <% } %>
            </ul>
        </div>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>